<%= form_for @role, :validate => true do |f| %>

  <div class="input-block-level">
  	<p>Combo_select goes here</p>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>