<h3>Member options</h3>

<div id="role-type-select">
	 <%= collection_select(:member, :id, @members, :id, :full_name, options ={:prompt => "Select a member"}, {:class => "chzn-select"}, :multiple => true) %>
</div>

