<h3>Member management</h3>

<div id="member-select">
	<%= collection_select(:member, :id, @members, :id, :full_name, options ={:prompt => "Select a member"}, :class => "chzn-select") %>
</div>

<div id="member-data">

</div>